parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\Route::getRoutes().#'
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\URL::forceRootUrl()#'
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\URL::formatRoot()#'
        - '#Cannot access offset .+ on Illuminate\\Contracts\\Foundation\\Application.#'
        - '#Call to an undefined method Illuminate\\Routing\\Route::versions().#'
        - '#(.*)NunoMaduro\\Collision(.*)#'
        - '#Instantiated class Whoops\\Exception\\Inspector not found\.#'
        - '#.+Dingo.+#'
        - '#Call to an undefined method Illuminate\\Contracts\\Filesystem\\Filesystem::url()#'
